body, html {
  background-color: black;
  height: 100%;
}


.loader {
display:block;
margin: 0 auto;
}





.jumbotron{
  background-color: black;
}
 
 
 .jayat-centreheader {

  text-align: center;
  background-color: black;
}
.carousel-item {
 height: 500px;
    text-align: center;
}

 .item1 {
  ;
  /*height: 100px;*/
}

.item2 {
  background-color:black;
  /*height: 100px;*/
}

.item3 {
  background-color:black;
  /*height: 100px;*/
}
.profile-pic{
  border-radius: 50%;
}
.copyright{
  text-align: center;
}
.myheader {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 7s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
.about{
  background-color:black;
}
.clr{
  color:#1FA95A ;
}
.disp{
  width:100%!important;
  display: block!important;
}
.disp1{
  display: block!important;
}
.devolop{

  text-align: center;
}
.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  
  position: absolute;
top: 48%;
left: 48%;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ff6347;
z-index: 999999;
}
